* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1e1e1e;
  color: #fff;
  flex-wrap: wrap;
}

.bootstrap-modal {
  background-color: #1c1c1c;
  color: #f5f5f5;
  border: 2px solid #00ac2b;
  border-radius: 10px;
}

.bootstrap-modal .modal-title {
  color: #00ac2b;
}

.bootstrap-modal .form-control {
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  width: 100%;
}

.bootstrap-modal .form-control::placeholder {
  color: #ccc;
}

.bootstrap-modal .btn-success {
  background-color: #00ac2b;
  border: none;
}

.login-box {
  margin-left: auto;
}

.login-box form {
  display: flex;
  gap: 0.5rem;
}

.login-box input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: #2c2c2c;
  color: #fff;
}

.login-box button {
  padding: 0.5rem 1rem;
  background: #00ac2b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.usuario-logado {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}


@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .login-box {
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
  }

  .login-box form {
    flex-direction: column;
    width: 100%;
  }

  .login-box input,
  .login-box button {
    width: 100%;
  }
}


/* Navbar bootstrap */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.form-control {
  width: 15rem;
  height: 2rem;
}

.search-button {
  background: #00ac2b;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 3px 8px;
  align-items: center;
  justify-content: center;
}

.search-button img {
  width: 20px;
  height: 20px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #111;
  color: #f5f5f5;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  padding: 2rem 1rem;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: #00ac2b;
}

header h2 {
  font-size: 1.5rem;
  color: #bbb;
}

/* Menu */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  color: #fff;
  flex-wrap: wrap;
  text-align: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

nav li {
  margin: 0 1rem;
}

nav a {
  display: block;
  padding: 1rem;
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #00ac2b;
}


/* Sobre */
.sobre {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  background: #1c1c1c;
}

.sobre img {
  max-width: 300px;
  border-radius: 8px;
}

.textosobre {
  width: 300px;
  height: 400px;
  border: 5px solid hsl(118, 26%, 28%);
  overflow: auto;
  padding: 10px;
  flex: 1;
}

.textosobre h2 {
  margin-bottom: 1rem;
  color: #00ac2b;
}

/* Álbuns */
.albuns {
  text-align: center;
  padding: 2rem;
}

.albuns h2 {
  color: #00ac2b;
}

.album {
  display: inline-block;
  width: 270px;
  margin: 1%;
  background: #222;
  border-radius: 8px;
  padding: 20px;
  vertical-align: top;
  text-align: center;
  transition: transform 0.3s;
}

.album:hover {
  transform: scale(1.05);
}

.album img {
  max-width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.album p {
  font-size: 0.9rem;
  color: #ddd;
}


/* Rodapé */
footer {
  background: #000;
  padding: 1.5rem;
  margin-top: 2rem;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.social img {
  width: 24px;
}

footer a {
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: #32ff65;
}

footer p {
  font-size: 10px;
  color: #777;
}

/* Página de Detalhes */
#detalhes {
  max-width: 800px;
  margin: 2rem auto;
  background: #1c1c1c;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 172, 43, 0.3);
  text-align: center;
}

#detalhes h2 {
  color: #00ac2b;
  margin-bottom: 1rem;
}

#detalhes img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

#detalhes p {
  margin-bottom: 1rem;
  color: #ddd;
  font-size: 1rem;
}

#detalhes a {
  display: inline-block;
  margin-top: 1rem;
  color: #00ac2b;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

#detalhes a:hover {
  color: #32ff65;
}